{% extends 'template.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
<div class="content">
    <div class="block_about_us">
        <h1>Про нас</h1>
        <h3><b>GuitarShop.ua</b> - найбільша українська мережа мультибрендових магазинів музичних інструментів</h3>
        <p>Зупинивши свій вибір на нашій мережі, ви отримуєте можливість вибрати необхідний товар з більш ніж 9 000 найменувань, актуальну інформацію про наявність і технічні характеристики продукції, бездоганний сервіс і гарантійну підтримку. За 20 років плідної праці ми зарекомендували себе як надійний бізнес партнер, стабільно розвиваючись і розширюючи наші кордони. Сьогодні мережа магазинів GuitaShop.ua налічує 9 роздрібних точок по всій території України і інтернет-магазин guitarshop.ua</p>
        <hr style="margin-top: 20px; margin-bottom: 7px;">
        <h3>Тільки офіційна продукція напряму від виробників</h3>
        <p>Ми є офіційним представником таких всесвітньо відомих брендів, як: Yamaha, Cort, D'Addario, Alto Professional, Audix, Alesis, Dunlop, Line 6, ESP, Sabian, Celestion, Warwick, M-Audio, FGN і багатьох інших. Ми представляємо в Україні понад 60 торгових марок і брендів.</p>
        <hr style="margin-top: 20px; margin-bottom: 7px;">
        <h3>Наша мета</h3>
        <p>Наша основна мета - запропонувати якомога ширший асортимент товарів як професійним музикантам, так і тим, хто тільки починає свій шлях в дивний і прекрасний світ музики. Працюючи напряму з безліччю виробників зі світовим ім'ям, ми прагнемо привнести європейські стандарти у музичну індустрію українського ринку.</p>
    </div>
</div>
{% endblock %}
 