{% extends 'template.html' %}

{% block title %} Доставка і оплата {% endblock %}

{% block content %}
<div class="content">
    <div class="block_contacts">
        <h1>Умови доставки і оплати</h1>
        <p>У нашому магазині Ви можете замовити товар з доставкою по території України. Ми працюємо з більш ніж 50 музичними магазинами в 35 містах України. Якщо у Вашому місті є наш партнер/представник, то немає нічого простішого і швидше, ніж отримати замовлений товар там без додаткових витрат.</p>
        <p style="margin-top: 20px;">Ми також здійснюємо доставку післяплатою БЕЗ КОМІСІЇ транспортною службою "НОВА ПОШТА". В даному випадку Ви оплачуєте вартість товару при отриманні в представництві служби у Вашому місті.</p>
        <p style="margin-top: 20px;">Для замовлень від 1500 Грн і вище доставка як по Києву, так і Україні безкоштовна, без комісії за накладений платіж.</p>
        <p style="margin-top: 20px;">Транспортні витрати при замовленнях до 1500 Грн. оплачуються покупцем окремо від вартості замовлення. Вартість доставки формують транспортні компанії і вона залежить від обсягу, ваги товару і відстані від Києва до пункту призначення - офісу представництва транспортної служби. Доставка по Україні замовлень від 1500 Грн. і вище здійснюється безкоштовно, без комісії за накладений платеж.За додаткову оплату можлива також доставка службою "НОВА ПОШТА" до дверей за вказаною покупцем адресою.</p>

    </div>
</div>
{% endblock %}